.list-group-item {
  border: none;
}
.all-page {
  margin-top: 50px;
}
.current-degree {
  font-size: 30px;
}
.weather-icon {
  color: blue;
  font-size: 30px;
  text-align: center;
}
.day-week {
  font-size: 30px;
}
.link-to-open-source {
  margin-left: 93px;
  padding: 12px;
}
.link {
  text-decoration: none;
}
