.list-group-item {
  color: #363434;
  border: none;
}
.main {
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  margin: 60px auto;
  width: 50%;
}
.all-page {
  background-color: #fff;
  padding: 15px;
  border-radius: 25px;
}

.current-degree {
  font-size: 30px;
  color: #363434;
}
.weather-icon {
  color: blue;
  font-size: 30px;
  text-align: center;
}
.day-week {
  font-size: 30px;
}
day-week-margin {
  padding: 10px 40px;
}
.link-to-open-source {
  margin-left: 93px;
  padding: 12px;
}
.link {
  text-decoration: none;
}
hr {
  margin: 0;
}
.input-margin {
  padding: 10px !important;
}
body {
  background-color: #f9f7fe;
}
.after-input {
  margin: 10px auto;
}
.form-control:focus,
.form-control:hover,
.form-control:visited,
.form-control:checked,
.form-control {
  color: #363434 !important;
}

.weather-descr {
  text-transform: capitalize;
}
.weather-temperature img {
  margin-right: 5px;
  height: 80px;
  width: 80px;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -11px;
}
.position-lest {
  float: left;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
